.footer {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
}

.footer ul {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1rem;
  margin-bottom: 30px;
}

.footer ul li {
  margin: 0 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
  font-weight: 400;
}

.footer ul li a {
  color: #d0d1d2
}

.footer .block_footer {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer .block_footer p {
  color: #d0d1d2;
  padding-bottom: 10px;
  font-size: 1rem;
  text-align: center;

}

.footer .block_footer a:link {
  color: #d0d1d2;
  text-decoration: underline;
}

.footer .block_footer a:visited {
  color: #d0d1d2;
  text-decoration: underline;
}